{% extends 'blog/base.html' %}

from .models import MyTag, Blog

<!doctype html>
<html>
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	{% block blog%}
   
    {% if lis %}
     {% for i in lis %}
     <div class="container-fluid">
     	<div class="row">
     		<div class = "card">
     			<div class="card-block">
     				<h4 class="card-title"><a href="{% url 'blog:blog-details2' i.id %}">{{i.title}}</a></h4>
     				<p class="card-text">{{i.body}}</p>
     			</div>
     		</div>
        </div>
     </div>
     {%endfor%}

    {% else%}
      <p>No blogs yet</p>
    {% endif %}
	{% endblock%}
</body>
</html>

<!--  -->